asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bleach==2.1.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
constantly==15.1.0
crcmod==1.7
cryptography==2.3.1
decorator==4.3.0
EasyProcess==0.2.3
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
get==1.0.3
gyp==0.1
html5lib==1.0.1
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
ipykernel==4.8.2
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
mechanize==0.3.6
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
PAM==0.4.2
pandocfilters==1.4.2
Parsley==1.2
pathlib2==2.3.2
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.4
post==1.0.2
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.2
ptyprocess==0.6.0
public==1.0.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pyserial==3.4
PySide==1.2.2
PySocks==1.6.8
python-dateutil==2.7.3
PyVirtualDisplay==0.2.1
pyxdg==0.25
pyzmq==17.1.2
qtconsole==4.4.1
query-string==1.0.2
request==1.0.2
requests==2.20.0
scandir==1.9.0
SecretStorage==2.3.1
selenium==3.14.1
Send2Trash==1.5.0
service-identity==16.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.29.0
terminado==0.8.1
testpath==0.3.1
torbrowser-launcher==0.2.9
tornado==5.1
traitlets==4.3.2
Twisted==19.7.0
txsocksx==0.0.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==4.3.2
